<div class="btn-navigate pull-right">
  <span class="current-period label label-info"></span>
  <%= link_to "", "javascript:void(0)", class: "btn btn-default btn-prev glyphicon glyphicon-arrow-left" %>
  <%= link_to "", "javascript:void(0)", class: "btn btn-default btn-next glyphicon glyphicon-arrow-right" %>
</div>
<div class="clearfix"></div>
