<div class="modal fade journal-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t "labels.warning" %></h4>
      </div>
      <div class="modal-body">
        <p><%= t "journal_entries.messages.confirm_delete" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "actions.close" %></button>
        <%= link_to t("journal_entries.actions.delete"), journal_entry_path(journal_entry),
          method: :delete, class: "btn btn-danger btn-delete" %>
      </div>
    </div>
  </div>
</div>
