<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4><%= t "labels.form_inform_errors" %><%= pluralize(object.errors.count, "error") %></h4>
      <ol>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
