@import "bootstrap-sprockets";
@import "bootstrap";

#wrapper {
  height: 100%;
  .content {
    min-height: 500px;
  }

  .footer {
    margin-top: 10px;
    height: 25px;
    border-top: 1px solid #E1E1E1;
    padding-top: 10px;
    font-weight: bold;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  label.error{
    color: red;
  }

  .select2-container--bootstrap.select2-container--focus .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: #66afe9;
  }

}

.select2-results__option{
  height: 30px;
}
