@import "bootstrap-sprockets";
@import "bootstrap";

#wrapper {
  height: 100%;
  background-color: #e9eaed;
  padding-top: 55px;

  .navbar-default {
    background-color: #FFFFFF;
    .nav li, .navbar-brand {
      font-weight: bold;
    }
    .navbar-nav li .avatar {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
    background-color: white;
  }

  .title {
    font-size: 1.5em;
  }

  .footer {
    margin-top: 6px;
    border-top: 1px solid #E1E1E1;
    font-weight: bold;
    background-color: white;
    height: 50px;
    line-height: 50px;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  label.error{
    color: red;
  }

  .icon-loading {
    margin-left: 50%;
    margin-top: 15%;
    display: none;
    position: absolute;
    z-index: 10;
  }

  .table {
    thead tr th {
      background-color: #f5f5f5;
      padding: 4px;
      border: none;
    }

    tfoot tr td {
      padding: 4px !important;
      text-align: right;
      font-weight: bold;
    }
  }

  .table-striped {
    margin-top: 20px;

    tbody tr td {
      border: none;
      padding: 4px;
    }

    tbody tr:hover td {
      background-color: #FFFFD1;
    }
  }

  .breadcrumb {
    background-color: white;
  }

  .dl-horizontal dt {
    text-align: left;
  }

  .btn {
    border-radius: 3px;
    padding: 4px 8px;
  }

  .modal {
    margin-top: 70px;
    .modal-content {
      border-radius: 3px;
    }

    .modal-header, .modal-footer {
      padding: 10px;
    }

    .modal-title {
      font-weight: bold;
    }
  }

  .form-control {
    height: 30px;
    border-radius: 3px;
    padding: 6px 12px;
    color: #303030;
    font-size: 13px;
  }

  .form-control:focus {
    border-color: #DAD6D6;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  }

  .selectize-control.form-control {
    padding: 0;
    border: none;
  }

  .selectize-dropdown.form-control {
    padding: 0;
    height: auto;
  }

  .grid .selectize-input.focus:after {
    display: block;
  }

  .grid .selectize-input:after, .grid .selectize-input.unfocus:after {
    display: none;
  }

  textarea.form-control {
    height: auto;
  }

  .form-control[disabled], .selectize-control .selectize-input.disabled {
    cursor: default;
    background-color: white;
    opacity: 1;
  }

  .selectize-control {
    height: 30px;
  }

  .selectize-input {
    padding: 6px 12px;
    cursor: text;
    white-space: nowrap;
    height: 30px;
  }
}

.selectize-dropdown {
  max-height: 210px !important;
}
