#enter-bill {
  .nav-tabs {
    margin-top: 10px;
  }

  .tbl-expense {
    .chart-account-head {
      width: 30%;
    }
    .amount-head {
      width: 20%;
    }
    .description-head {
      width: 50%;
    }
  }
}
