.grid {
  .form-control, .selectize-input, .selectize-input.focus {
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  td {
    padding: 0px !important;
  }

  td.label-text {
    padding: 6px 12px !important;
    font-size: 13px;
  }
}


