.fields {
  td {
    padding: 0px !important;
  }

  .debit, .credit {
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
