#item-list {
  .selectize-dropdown-content {
    .optgroup-header {
      color: #110303;
      font-weight: bold;
      border-top: 1px solid #E1E1E1;
    }
  }

  .tbl-item-list {
    .action {
      text-align: center;
    }
  }
}
