#journal-entry {
  .current-period {
    font-style: italic;
  }

  .btn-delete, .btn-save {
    margin-right: 5px;
  }

  .btn-close-period {
    margin-top: 10px;
  }

  .tbl-journal {
    margin-top: 20px;
    .chart-account-head {
      width: 30%;
    }
    .description-head {
      width: 25%;
      text-align: center;
    }
    .debit-head, .credit-head {
      width: 15%;
      text-align: center;
    }
    .name-head {
      width: 15%;
      text-align: center;
    }
    .debit, .credit {
      text-align: right;
    }
  }
}

.selectize-dropdown.chart-account {
  width: 600px !important;
  padding: 0;
  height: auto;
  border: none;
}

.selectize-dropdown.name {
  padding: 0;
  height: auto;
  border: none;
}
