#journal-entry {
  .current-period {
    font-style: italic;
  }

  .btn-delete, .btn-save {
    margin-right: 5px;
  }

  .btn-close-period {
    margin-top: 10px;
  }

  .tbl-journal {
    margin-top: 20px;
    .chart-account-head {
      width: 30%;
    }
    .description-head {
      width: 25%;
    }
    .debit-head, .credit-head {
      width: 15%;
      text-align: center;
    }
    .name-head {
      width: 15%;
      text-align: center;
    }
  }

  .journal-transaction {
    .chart-account .selectize-dropdown {
      width: 600px !important;
    }

    .selectize-input {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
