#journal-entry {
  .current-period {
    font-style: italic;
  }

  .btn-delete, .btn-save {
    margin-right: 5px;
  }

  .btn-close-period {
    margin-top: 10px;
  }

  .tbl-journal {
    margin-top: 20px;
    .chart-account-head {
      width: 30%;
    }
    .description-head {
      width: 25%;
    }
    .debit-head, .credit-head {
      width: 15%;
      text-align: center;
    }
    .name-head {
      width: 15%;
      text-align: center;
    }
  }

  .journal-transaction {
    .chart-account .selectize-dropdown {
      width: 600px !important;
    }

    .selectize-input, .form-control {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .tbl-journal .selectize-input:after, .selectize-input.unfocus:after {
    display: none;
  }

  .selectize-input.focus:after {
    display: block;
  }

  .selectize-control.form-control {
    padding: 0;
    border: none;
  }

  .selectize-dropdown.form-control {
    padding: 0;
    height: auto;
  }

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }
}
